Repository cmwalshWVU/agent-news-wire: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:api, build:frontend, test:api, lint:frontend, deploy:railway:api, deploy:railway:frontend

Path conditions:
  build:api: any of: api/**/*, .gitlab-ci.yml
  build:frontend: any of: frontend/**/*, .gitlab-ci.yml
  test:api: any of: api/**/*, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
  deploy:railway:api: any of: api/**/*, .gitlab-ci.yml
  deploy:railway:frontend: any of: frontend/**/*, .gitlab-ci.yml

fix: update GitLab CI/CD for Railway CLI deployment
  .gitlab-ci.yml
Due: build:api, build:frontend, test:api, lint:frontend, deploy:railway:api, deploy:railway:frontend

feat(api): migrate from in-memory to SQLite persistence
  api/package-lock.json
  api/package.json
  api/src/distribution/websocket.ts
  api/src/index.ts
  api/src/ingestion/index.ts
  api/src/routes/alerts.ts
  api/src/routes/publishers.ts
  api/src/routes/stats.ts
  api/src/routes/subscriptions.ts
  api/src/services/alert-store.ts
  api/src/services/database.ts
  api/src/services/publisher-store.ts
  api/src/services/subscription-store.ts
Due: build:api, test:api, deploy:railway:api

docs: update TODO timestamp
  TODO.md
Due: none

feat(api): add PostgreSQL support for Railway deployment
  .gitlab-ci.yml
  api/.env.example
  api/data/.gitkeep
  api/src/services/database.ts
Due: build:api, build:frontend, test:api, lint:frontend, deploy:railway:api, deploy:railway:frontend

fix(ci): use full node image with build tools for frontend
  .gitlab-ci.yml
Due: build:api, build:frontend, test:api, lint:frontend, deploy:railway:api, deploy:railway:frontend

fix(ci): add debug output for Railway deploy failures
  .gitlab-ci.yml
Due: build:api, build:frontend, test:api, lint:frontend, deploy:railway:api, deploy:railway:frontend

fix(ci): remove redundant variable mapping, simplify deploy
  .gitlab-ci.yml
Due: build:api, build:frontend, test:api, lint:frontend, deploy:railway:api, deploy:railway:frontend

fix(ci): add verbose Railway CLI output for debugging
  .gitlab-ci.yml
Due: build:api, build:frontend, test:api, lint:frontend, deploy:railway:api, deploy:railway:frontend

fix(ci): explicitly export Railway env vars
  .gitlab-ci.yml
Due: build:api, build:frontend, test:api, lint:frontend, deploy:railway:api, deploy:railway:frontend

fix(ci): use full node image for Railway CLI (not alpine)
  .gitlab-ci.yml
Due: build:api, build:frontend, test:api, lint:frontend, deploy:railway:api, deploy:railway:frontend

fix(ci): remove invalid railway version command
  .gitlab-ci.yml
Due: build:api, build:frontend, test:api, lint:frontend, deploy:railway:api, deploy:railway:frontend

fix(ci): show token prefix, add production env, remove whoami
  .gitlab-ci.yml
Due: build:api, build:frontend, test:api, lint:frontend, deploy:railway:api, deploy:railway:frontend

fix(ci): specify root directory for Railway deploys
  .gitlab-ci.yml
Due: build:api, build:frontend, test:api, lint:frontend, deploy:railway:api, deploy:railway:frontend

fix(ci): use cd instead of positional arg for railway up
  .gitlab-ci.yml
Due: build:api, build:frontend, test:api, lint:frontend, deploy:railway:api, deploy:railway:frontend

fix(docker): use multi-stage build for API
  api/Dockerfile
Due: build:api, test:api, deploy:railway:api

fix(docker): fix COPY syntax for public folder
  api/Dockerfile
Due: build:api, test:api, deploy:railway:api

fix(frontend): upgrade Next.js to fix security vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Due: build:frontend, lint:frontend, deploy:railway:frontend

fix: add railway.toml configs to specify Dockerfiles
  api/railway.toml
  frontend/railway.toml
Due: build:api, build:frontend, test:api, lint:frontend, deploy:railway:api, deploy:railway:frontend

fix(frontend): add build deps for native modules in Dockerfile
  frontend/Dockerfile
Due: build:frontend, lint:frontend, deploy:railway:frontend

fix: remove root railway.json to use service-level configs
  railway.json
Due: none

fix(frontend): use nixpacks builder instead of dockerfile
  frontend/railway.toml
Due: build:frontend, lint:frontend, deploy:railway:frontend

fix(ci): let Railway Root Directory setting handle subdirs
  .gitlab-ci.yml
Due: build:api, build:frontend, test:api, lint:frontend, deploy:railway:api, deploy:railway:frontend

fix: use nixpacks for both services, fix empty public folder
  api/railway.toml
  frontend/Dockerfile
  frontend/public/.gitkeep
Due: build:api, build:frontend, test:api, lint:frontend, deploy:railway:api, deploy:railway:frontend

fix: rename Dockerfiles to force nixpacks
  api/Dockerfile.bak
  frontend/Dockerfile.bak
Due: build:api, build:frontend, test:api, lint:frontend, deploy:railway:api, deploy:railway:frontend

fix(api): add nixpacks.toml with Node 22 and Python
  api/nixpacks.toml
Due: build:api, test:api, deploy:railway:api

fix(api): disable nixpacks cache to avoid EBUSY
  api/nixpacks.toml
Due: build:api, test:api, deploy:railway:api

fix: add nixpacks.toml for frontend with Node 22 + Python
  api/nixpacks.toml
  frontend/nixpacks.toml
Due: build:api, build:frontend, test:api, lint:frontend, deploy:railway:api, deploy:railway:frontend

fix: set buildCommand in railway.toml to avoid double npm ci
  api/railway.toml
  frontend/railway.toml
Due: build:api, build:frontend, test:api, lint:frontend, deploy:railway:api, deploy:railway:frontend

fix(api): update .dockerignore to include src/ and tsconfig.json
  api/.dockerignore
Due: build:api, test:api, deploy:railway:api

fix(frontend): exclude tsconfig.tsbuildinfo from docker build
  frontend/.dockerignore
Due: build:frontend, lint:frontend, deploy:railway:frontend

fix(api): use content_hash column name, fix alert_hashes insert
  api/src/services/alert-store.ts
Due: build:api, test:api, deploy:railway:api

fix(api): round impact_score to integer for postgres
  api/src/services/alert-store.ts
  api/src/services/database.ts
Due: build:api, test:api, deploy:railway:api

fix(api): truncate long string values for postgres varchar limits
  api/src/services/alert-store.ts
Due: build:api, test:api, deploy:railway:api

fix(api): gracefully handle duplicate alert inserts
  api/src/services/alert-store.ts
Due: build:api, test:api, deploy:railway:api

fix(api): add missing active column to subscribers table
  api/src/services/database.ts
Due: build:api, test:api, deploy:railway:api

fix(api): use correct staked_amount column name in interface
  api/src/services/publisher-store.ts
Due: build:api, test:api, deploy:railway:api

docs: update TODO with completed Railway deployment
  TODO.md
Due: none

docs: add hackathon battle plan
  HACKATHON-BATTLE-PLAN.md
Due: none

chore: update frontend URL to agent-news-wire.up.railway.app
  .gitignore
  public/skill.md
Due: none

feat: add favicon and PWA manifest
  frontend/package-lock.json
  frontend/package.json
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.svg
  frontend/public/icon-192.png
  frontend/public/icon-512.png
  frontend/public/icon.svg
  frontend/public/manifest.json
  frontend/scripts/generate-favicons.mjs
  frontend/src/app/layout.tsx
Due: build:frontend, lint:frontend, deploy:railway:frontend
